.imageArea {
    height: 17rem;
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 30% 20%;
    grid-template-rows: 99% 1%;
    gap: 10px 50%;
}
.textArea {
    font-size: 12rem;
    margin-top: 20%;
    font-family: 'Sigmar', cursive;
}
.gridItem {
    position: relative;
}
.gridItem img {
    width: 100%;
    border-radius: 6px;
    border: 1px;
    box-shadow: 0 0 8px #444;
}
.aiImg {
    grid-column: span 1;
    transform: translate(80px, -103px);
    width: 18rem !important;
    height: 10rem !important;
}
.workspaceImg {
    /* grid-column: span 2; */
    transform: translate(-120px, -180px);
    width: 18rem !important;
    height: 17.5rem !important;
}
.gadgetImg {
    height: 100%;
}
 
